# **Trabajo Práctico N°2 - Aprendizaje Automático 1**
**Integrantes**:

Dito, Daniela

Flaibani, Marcela

López Crespo, facundo

## Librerías

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.datasets import make_classification
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report, confusion_matrix
from imblearn.over_sampling import RandomOverSampler, SMOTE
from imblearn.under_sampling import RandomUnderSampler, NearMiss

## 1. Análisis descriptivo

In [31]:
df = pd.read_csv('weatherAUS.csv')
df.shape

(145460, 23)

In [27]:
# Elección aleatoria de 10 ciudades
ciud = pd.Series(df['Location'].unique())
ciud_10 = ciud.sample(n=10,random_state=1)
ciud_10

27        Dartmoor
34       Nuriootpa
39    PerthAirport
48           Uluru
2            Cobar
3     CoffsHarbour
42         Walpole
29          Cairns
45    AliceSprings
30       GoldCoast
dtype: object

In [28]:
# Filtro del df según ciudades seleccionadas
df_weather = df[df['Location'].isin(ciud_10)]

In [29]:
df_weather.info()

<class 'pandas.core.frame.DataFrame'>
Index: 28749 entries, 6049 to 145459
Data columns (total 23 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           28749 non-null  object
 1   Location       28749 non-null  object
 2   MinTemp        28573 non-null  float64
 3   MaxTemp        28600 non-null  float64
 4   Rainfall       28236 non-null  float64
 5   Evaporation    18441 non-null  float64
 6   Sunshine       15546 non-null  float64
 7   WindGustDir    27822 non-null  object
 8   WindGustSpeed  27870 non-null  float64
 9   WindDir9am     26933 non-null  object
 10  WindDir3pm     28140 non-null  object
 11  WindSpeed9am   28236 non-null  float64
 12  WindSpeed3pm   28258 non-null  float64
 13  Humidity9am    28271 non-null  float64
 14  Humidity3pm    28282 non-null  float64
 15  Pressure9am    28294 non-null  float64
 16  Pressure3pm    28303 non-null  float64
 17  Cloud9am       16601 non-null  float64
 18  Cloud3pm       16083 non-null  float64
 19  Temp9am        28611 non-null  float64
 20  Temp3pm        28623 non-null  float64
 21  RainToday      28236 non-null  object
 22  RainTomorrow   28234 non-null  object
dtypes: float64(16), object(7)
memory usage: 5.3+ MB

In [30]:
df_weather['Location'].unique()

array(['Cobar', 'CoffsHarbour', 'Dartmoor', 'Cairns', 'GoldCoast',
       'Nuriootpa', 'PerthAirport', 'Walpole', 'AliceSprings', 'Uluru'],
      dtype=object)

In [32]:
df_weather.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
6049,2009-01-01,Cobar,17.9,35.2,0.0,12.0,12.3,SSW,48.0,ENE,...,20.0,13.0,1006.3,1004.4,2.0,5.0,26.6,33.4,No,No
6050,2009-01-02,Cobar,18.4,28.9,0.0,14.8,13.0,S,37.0,SSE,...,30.0,8.0,1012.9,1012.1,1.0,1.0,20.3,27.0,No,No
6051,2009-01-03,Cobar,15.5,34.1,0.0,12.6,13.3,SE,30.0,NaN,...,NaN,7.0,NaN,1011.6,NaN,1.0,NaN,32.7,No,No
6052,2009-01-04,Cobar,19.4,37.6,0.0,10.8,10.6,NNE,46.0,NNE,...,42.0,22.0,1012.3,1009.2,1.0,6.0,28.7,34.9,No,No
6053,2009-01-05,Cobar,21.9,38.4,0.0,11.4,12.2,WNW,31.0,WNW,...,37.0,22.0,1012.7,1009.1,1.0,5.0,29.1,35.6,No,No